<div class="page-header"><h1>Lista zabiegów</h1></div>
<div class="row">
<div class="span6">
<%= treatment_create_button %>
<%= link_to 'Stronicowe przeglądanie', treatments_path, :class => [:btn, "btn-info"] %>
</div>
<div class="span4 pull-right">
<input type="text" class="filter" name="livefilter" />
</div>
</div>
<br />
<script>
$(function() {
    $("table#sort").tablesorter({headers:{1:{sorter:false},6:{sorter:false}}});
    $('table.live_filter').liveFilter('fade');
});
</script>
<table class="table table-bordered zebra-striped live_filter" id="sort">
<thead>
  <tr>
    <th class="header headerSortDown">#</th>
    <th class="green">Klientka</th>
    <th class="blue">Rodzaj</th>
    <th class="red">Kolor</th>
    <th class="orange">Data</th>
    <th>Akcje</th>
  </tr>
</thead>
<tbody>
<% if @treatments.any? %>
<% @treatments.each do |treatment| %>
 <tr>
    <td><%= treatment.id %></td>
    <td><%= link_to treatment.client.full_name, treatment.client %></td>
    <td><%= treatment.ttype %><% if treatment.correction %> <span class="label label-warning">KOREKTA</span><% end %></td>
    <td><%= treatment.color %></td>
    <td><%= treatment.date %></td>
    <td><div class="btn-group"><%= treatment_show_button treatment %>
    <%= treatment_edit_button treatment %>
    <%= treatment_destroy_button treatment %></div></td>
  </tr>
<% end %>
<% else %>
<tr><td colspan="6">Brak obiektów do wyświetlenia</td></tr>
<% end %>
</tbody>
</table>