<div class="page-header"><h1>Zabieg #<%= @treatment.id %></h1><% if @treatment.correction %><span class="label warning">KOREKTA</span><% end %></div>
<% if notice != nil %>
<div class="alert-message alert alert-success" id="notice"><strong><%= notice %></strong></div>
<% end %>
<div class="row">
<div class="btn-group pull-right">
<%= treatment_edit_button @treatment %>
<%= treatment_destroy_button @treatment %>
</div>
</div>
<hr />
<div class="row">
<div class="span4">
<p><strong>Klientka:</strong><br />
<% if @treatment.client != nil %>
<%= link_to @treatment.client.full_name, @treatment.client %></p>
<% else %>
Nieznana</p>
<% end %>
</div>
<div class="span4">
<p><strong>Rodzaj zabiegu:</strong><br /><% if @treatment.ttype != nil %><%= @treatment.ttype %><% else %>Nieznany<% end %></p>
<p><strong>Cena zabiegu:</strong><br /><%= @treatment.price %> zł</p>
<p><strong>Użyty kolor:</strong><br /><% if @treatment.color != nil %><%= @treatment.color %><% else %>Nieznany<% end %></p>
<p><strong>Data zabiegu:</strong><br /><%= @treatment.date.to_formatted_s(:rfc822) %></p>
</div>
<% if @treatment.correction %>
<div class="span4">
<strong>Zabieg był korektą.</strong>
</div>
<% end %>
</div>