<% if @client.treatments.any? %>
	<% sum = 0 %>
	<ol>
		<% @client.treatments.each do |t| %>
		<% sum += t.price.to_i %>
			<li><%= link_to t.date_polish, t%>: <%= raw treatment_info_in_client t %></li>
		<% end %>
	</ol>
	<p><strong><%= t "treatment.all_price" %>:</strong>	<%= pln(sum) %></p>
<% else %>
	<%= t "treatment.no_treatments" %>
<% end %>