<% sum = 0 %>
<ul>
	<% @client.treatments.each do |t| %>
	<% sum += t.price %>
		<li><%= link_to t.date.to_s, t%>:
		<%= t.ttype.to_s+", "+t.color.to_s%><% if t.correction %> <span class="label warning">KOREKTA</span><% else %><%= ", "+t.price.to_s+" zł" %><% end %></li>
	<% end %>
</ul>
<p><strong>Razem zabiegów:</strong><br />
<%= @client.treatments.count %></p>
<p><strong>Razem pieniędzy:</strong><br />
<%= sum %> zł</p>
<% else %>
Brak zabiegów