<div class="page-header"><h1>Lista klientek</h1></div>
<div class="row">
<div class="span14">
<%= link_to 'Stwórz nową klientkę', new_client_path, :class => [:btn, :success] %>
<%= link_to 'Wyszukiwanie', {:controller => :clients, :action => :search}, :class => [:btn, :info]%>
</div>
</div>
<br />
<script>
  $(function() {
$("table#sort").tablesorter({headers:{1:{sorter:false},6:{sorter:false}}});
});
</script>
<table class="zebra-striped" id="sort">
<thead>
  <tr>
    <th class="header headerSortDown">#</th>
    <th class="yellow">Zdjęcie</th>
    <th class="green">Nazwisko</th>
    <th class="blue">Imię</th>
    <th class="red">Tel. kom.</th>
    <th class="orange">Email</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% if @clients.any? %>
<% @clients.each do |client| %>
  <tr>
    <td><%= client.id %></td>
    <td><% if client.photo != nil %><%= image_tag client.photo.file.url(:small_bootstrap) %><% end %></td>
    <td><%= client.surname %></td>
    <td><%= client.name %></td>
    <td><%= client.cell %></td>
    <td><%= mail_to client.email %></td>
    <td><%= link_to 'Pokaż', client %>
    <%= link_to 'Edytuj', edit_client_path(client) %>
    <%= link_to 'Usuń', client, :confirm => 'Jesteś pewna?', :method => :delete %></td>
  </tr>
<% end %>
<% else %>
<tr><td colspan="5">Brak obiektów do wyświetlenia.</td></tr>
<% end %>
</tbody>
</table>
<div class="row">
 
<% if @page > 0 %>
<div class="span3"> 
<%= link_to 'Poprzednia strona', {:controller => :clients, :action => :page, :page => @page-1}, :class=>[:btn,:primary] %>
</div>
<% end %>

<% if @page > 0 %>
<div class="span8" style="text-align: center">
<% else %>
<% if Client.count > (@page+1)*10 %>
<div class="span11" style="text-align: center">
<% else %>
<div class="span14" style="text-align: center">
<% end %>
<% end %>
<% for i in 0..(Client.count/10) do %>
<%= link_to i+1, {:controller => :clients, :action => :page, :page => i} %>
<% end %>
</div>
<% if Client.count > (@page+1)*10 %>
<div class="span3 pull-right" style="text-align: right">
<%= link_to 'Następna strona', {:controller => :clients, :action => :page, :page => @page+1}, :class=>[:btn,:primary] %>
</div>
<% end %>


</div>