<div class="page-header"><h1>Lista klientek</h1></div>
<div class="row">
<div class="span5">
<%= client_create_button %>
<%= link_to 'Stronicowe przeglądanie', clients_path, :class => [:btn, "btn-info"] %>
</div>
<div class="span4 pull-right">
<input type="text" class="filter" name="livefilter" placeholder="Szukaj" />
</div>
</div>
<br />
<script>
$(function() {
    $("table#sort").tablesorter({headers:{5:{sorter:false}}});
    $('table.live_filter').liveFilter('fade');
});
</script>
<table class="table table-bordered zebra-striped live_filter" id="sort">
<thead>
  <tr>
    <th class="header headerSortDown">#</th>
    <th class="green">Nazwisko</th>
    <th class="blue">Imię</th>
    <th class="red">Tel. kom.</th>
    <th class="orange">Email</th>
    <th class="header">Akcje</th>
  </tr>
</thead>
<tbody>
<% if @clients.any? %>
<% @clients.each do |client| %>
  <tr>
    <td><%= client.id %></td>
    <td><%= client.surname %></td>
    <td><%= client.name %></td>
    <td><%= client.cell %></td>
    <td><%= mail_to client.email %></td>
    <td><div class="btn-group"><%= client_show_button client %>
    <%= client_edit_button client %>
    <%= client_destroy_button client %></div></td>
  </tr>
<% end %>
<% else %>
<tr><td colspan="6">Brak obiektów do wyświetlenia.</td></tr>
<% end %>
</tbody>
</table>
