<div class="page-header">
<h1><%= @client.full_name %></h1>
</div>
<% if notice != nil %>
<div class="alert-message alert alert-success" id="notice"><strong><%= notice %></strong></div>
<% end %>
<div class="row">
<div class="btn-group pull-right">
<%= client_edit_button @client %>
<%= client_destroy_button @client %>
</div>
</div>
<hr />
<div class="row">
<div class="span4">
<p><strong>Urodziny:</strong> <%= @client.birthday.nil? ? nodatatext : @client.birthday %></p>
<p><strong>PESEL:</strong> <%= nodata @client.nid %></p>
<p><strong>Tel. komórkowy:</strong> <%= nodata @client.cell %></p>
<p><strong>Adres e-mail:</strong> <%= @client.email.empty? ? nodatatext : (mail_to @client.email) %></p>
<p><strong>Dowiedziała się przez:</strong> <%= nodata @client.found %></p>
<strong>Przeciwwskazania:</strong><br /><% if @client.any_contraindications? %><ul>
<% if @client.diabetes %><li>Cukrzyca</li><% end %>
<% if @client.psoriasis %><li>Łuszczyca</li><% end %>
<% if @client.steroids %><li>Leki sterydowe</li><% end %>
<% if @client.pregnancy %><li>Ciąża</li><% end %>
<% if @client.yellows %><li>Żółtaczka</li><% end %>
<% if @client.allergy %><li>Alergie</li><% end %>
<% if @client.sensitive_skin %><li>Wrażliwa skóra</li><% end %>
<% if @client.herpes %><li>Opryszczka<% if @client.herpes_info %> (<%= @client.herpes_info%>)<% end %></li><% end %>
</ul>
<% else %>
<%= nodatatext %><% end %>
<p><strong>Uwagi:</strong><br />
<%= nodata @client.additional_info %></p>
</div>
<div class="span6">
<h2 id="treatments">Zabiegi</h2>
<%= render 'clients_treatments' %>
<hr />
<div class="well">
	<h2>Dodaj zabieg</h2>
<%= render :partial => 'treatments/form_small.html.erb', :locals => {:treatment => Treatment.new({:client_id => @client.id})} %>
</div>
</div>
</div>