<!DOCTYPE html>
<html>
<head>
  <title>Custbook</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <!--<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>-->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <!-- iPhone -->
        <link href="<%= image_path 'apple-touch-icon-57x57.png' %>"
              sizes="57x57"
              rel="apple-touch-icon">
        <!-- iPad -->
        <link href="<%= image_path 'apple-touch-icon-72x72.png' %>"
              sizes="72x72"
              rel="apple-touch-icon">
        <!-- iPhone (Retina) -->
        <link href="<%= image_path 'apple-touch-icon-114x114.png' %>"
              sizes="114x114"
              rel="apple-touch-icon">
        <!-- iPad (Retina) -->
        <link href="<%= image_path 'apple-touch-icon-144x144.png' %>"
              sizes="144x144"
              rel="apple-touch-icon">

        <!-- iPhone -->
        <link href="<%= image_path 'apple-touch-startup-image-320x460.png' %>"
              media="(device-width: 320px)"
              rel="apple-touch-startup-image">
        <!-- iPhone (Retina) -->
        <link href="<%= image_path 'apple-touch-startup-image-640x920.png' %>"
              media="(device-width: 320px)
                 and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">
        <!-- iPad (portrait) -->
        <link href="<%= image_path 'apple-touch-startup-image-768x1004.png' %>"
              media="(device-width: 768px)
                 and (orientation: portrait)"
              rel="apple-touch-startup-image">
        <!-- iPad (landscape) -->
        <link href="<%= image_path 'apple-touch-startup-image-748x1024.png' %>"
              media="(device-width: 768px)
                 and (orientation: landscape)"
              rel="apple-touch-startup-image">
        <!-- iPad (Retina, portrait) -->
        <link href="<%= image_path 'apple-touch-startup-image-1536x2008.png' %>"
              media="(device-width: 768px)
                 and (orientation: portrait)
                 and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">
        <!-- iPad (Retina, landscape) -->
        <link href="<%= image_path 'apple-touch-startup-image-1496x2048.png' %>"
              media="(device-width: 768px)
                 and (orientation: landscape)
                 and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">
</head>
<body>
<div class="header navbar">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Custbook", home_path, :class => :brand %>
			<ul class="nav">
				<li><%= link_to (t "client.many"), clients_path, :class => :left %></li>
				<li><%= link_to "+", new_client_path, :class => :right %></li>
				<li><%= link_to (t "treatment.many"), treatments_path, :class => :left %></li>
				<li><%= link_to "+", new_treatment_path, :class => :right %></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="content">
<%= yield %>
	</div>
	<footer><br /></footer>
</div>
</body>
</html>
